# Virtual environment
venv/
__pycache__/

# Python-specific ignores
*.pyc
*.pyo
*.pyd
*.db

# FastAPI & SQLite
tasks.db
instance/
.env

# Logs
*.log
logs/

# IDE & OS files
.vscode/
.idea/
.DS_Store
*.swp
